* {
  padding: 0;
  margin: 0;
}

header {
  text-align: center;
  background-color: darkblue;
  color: white;
  position:sticky;
  top:0;
  opacity:0.9;
}

main {
  text-align: center;
}

.container {
  margin: 32px 0;
}

.inner-container {
  display: inline-block;
  width: 300px;
  height: 300px;
  outline: 1px darkgray solid;
  margin: 0 20px;
  background-color: wheat;
}

img {
  margin-top: 24px;
  width:200px;
  height:200px;
  object-fit:cover;
}

footer {
  text-align: center;
  font-size: 12px;
  margin-top: 32px;
}


/* すべてのimg要素の幅と高さを200pxにし、画像が縦横比は維持したまま高さ方向がすべて表示されるようにスタイルを適用してください。 */

/* header要素が上端に常に表示されるようにpositionプロパティなどを適用してください。*/

/* main要素がheader要素を通過する時に少しだけ透けて見えるようにしたいです。必要な要素にopacityプロパティを0.9で指定してください。*/